@import 'reset';

$primary-color:white;
$secund-color:black;
$third-color:rgb(0, 132, 255);

flexCentralize {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 100% 10vh;
    grid-template-areas: "t""b""f";
}

#top-content {
    grid-area: t;
    background-color: $primary-color;
    border-bottom: 1px solid rgb(20, 20, 20);
    justify-content: space-between;
    @extend flexCentralize;
        #top-logo{
            cursor: pointer;
            margin: 0px 0px 0px 60px;
        }
        #top-card{
            position: relative;
            margin: 5px 70px 0px 0px;
                img{
                    cursor: pointer;
                    width: 25px;
                    height: 25px; 
                }
        }
        #card-not{
            background-color: $third-color;
            position: absolute;
            top: 0px;
            left: 13px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            font-size: 13px;
            @extend flexCentralize;
            color: white;
            z-index: 1;

        }
}

#body-content {
    background-color: $primary-color;
    display: flex;
    grid-area: b;
    #produto-order{
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 300px;
        #content-order{
            width: 180px;
            @extend flexCentralize;
            position: relative;
            border: 1px solid $secund-color;
            background-color: $primary-color;
                #option-order{
                    @extend flexCentralize;
                    padding: 5px;
                }
                #option-order:hover{
                    width: 100%;
                    background-color: $third-color;
                }
                
        }
        #list-order{
            display: none;
        }
        ul{
            width: 180px;
            position: absolute;
            @extend flexCentralize;
            top: 34px;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            border-top: 0px;
            border: 1px solid $secund-color;
            background-color: $primary-color;
            li{
                padding: 5px;
                width: 100%;
                height: 100%;
            }
            li:hover{
                background-color: $third-color;
            }
        }
    }
    #content-produtos{
        width: 100%;
        @extend flexCentralize;
        flex-direction: column;
    }
    #content-filter{
        margin: 35px 0px 0px 60px;
        height: 600px;
            h1{
                margin-bottom: 20px;
            }
            h2{
                font-size: 17px;
                font-weight: 510;
                margin-bottom: 10px;
            }
            #filter-list{
                white-space: nowrap;
                @extend flexCentralize;
                flex-direction: column;
                align-items: flex-start;
                    div{
                        margin-bottom: 5px;
                        .roxo{display: none;  animation: colorOpacity 1s ease;}
                        .rosa{display: none;  animation: colorOpacity 1s ease;}
                        .verde{ display: none;  animation: colorOpacity 1s ease;}
                        .vermelho{display: none;  animation: colorOpacity 1s ease;}
                    }
                    #ver-cores{
                        @extend flexCentralize;
                        text-decoration:underline;
                        cursor: pointer;
                        animation: moveSpan 1s ease;
                        margin-bottom: 20px;
                        #color-arrow{
                            font-size: 14px;
                            margin-bottom: 2px;
                            color: rgb(138, 138, 138);
                        }
                            
                    }
                    #tamanho-content{
                        width: 170px;
                        display: inline-flex;
                        flex-wrap: wrap;
                        margin-bottom: 25px;
                            .filter-tamanho{
                                @extend flexCentralize;
                                text-decoration: none;
                                width: 30px;
                                height: 30px;
                                margin: 5px;
                                color: rgb(138, 138, 138);
                                border: 1px solid rgb(138, 138, 138);
                                cursor: pointer;
                            }
                            .filter-tamanho:hover{
                                color: $secund-color;
                                border: 1px solid $third-color;
                            }
                    }
                    
                    
                    @keyframes colorOpacity{
                        0%{opacity: 0;}
                        100%{opacity: 1;}
                    }
                    @keyframes moveSpan{
                        0%{transform: translateX(0px);}
                        0%{transform: translateX(-100px);}
                    }
            }  
    }
    #produtos-main{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 0px 50px;
        .item-content{
            width: 200px;
            @extend flexCentralize;
            flex-direction: column;
            font-weight: 500;
            margin-left: 25px;
            animation: produtosMove 1s ease;
            .item-img{
                margin-top: 40px;
            }
            .item-div{
                color: rgb(81, 83, 83);
            }
            .item-value{
                font-weight: 700;
            }
            .item-button{
                width: 100%;
                height: 40px;
                font-weight: bolder;
                font-size: 17px;
                color: $primary-color;
                background-color: $secund-color;
                border: none;
                cursor: pointer;
                margin: 15px 0px 0px 0px;
            }
            @keyframes produtosMove {
                0%{transform: translateY(150px); opacity: 0;}
                100%{transform: translateY(0px);opacity: 1;}
            }
        }
    }
    #item-carregar{
        background-color: $third-color;
        color: white;
        cursor: pointer;
        height: 40px;
        width: 180px;
        margin: 50px;
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
        border: none;
    }
}
#baseboard-content {
    grid-area: f;
    background-color: $secund-color;
    color: $primary-color;
    height: 50px;
    @extend flexCentralize;
}